<div class="about">
    <div txt="1" class="title">
        <div>About</div>
    </div>
    <div txt="2" class="text">
        8. Sınıftan beri hobi olarak yazılımla uğraşan bir Elektrik-Elektronik Mühendisi adayı.
    </div>
    <br>
    <div class="detail">
        <div class="col">
            <ul>
                <li><strong txt="1">Adres:</strong><span txt="1-1">Esat Cad. Çankaya/Ankara</span></li>
                <li><strong txt="2">Telefon:</strong><span txt="2-1">+90 507 770 04 73</span></li>
                <li><strong txt="3">E-Mail:</strong><span txt="3-1">helnayt@gmail.com</span></li>
                <li><strong txt="4">Ehliyet:</strong><span txt="4-1">B2</span></li>
                <li><strong txt="5">Askerlik:</strong><span txt="5-1">Tecilli 31.12.2026</span></li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li><strong txt="6">Medeni Durum:</strong><span txt="6-1">Bekar</span></li>
                <li><strong txt="7">Doğum Yeri:</strong><span txt="7-1">Ankara</span></li>
                <li><strong txt="8">Doğum Tarihi:</strong><span txt="8-1">28.11.1998</span></li>
                <li><strong txt="9">Diploma:</strong><span txt="9-1">Lisans > Son Sınıf</span></li>
                <li><strong txt="10">Yaş:</strong><span txt="10-1">24</span></li>
            </ul>
        </div>
    </div>
    <br>
</div>
<div class="detail">
    <div class="col">
        <div txt="11" class="title">
            <div>Yazılım</div>
        </div>
        <div class="yazilim-table">
            <table>
                <tr>
                    <th id="name" txt="12">Dil</th>
                    <th txt="13" colspan="2">Seviye</th>
                    <th txt="15">Toplam Kull. Süre</th>
                    <th txt="16">Öğrenim</th>
                    <th txt="17">Kullanım</th>
                </tr>
                <tr>
                    <td id="name" txt="18">Python</td>
                    <td id="level_bar" txt="19">++++</td>
                    <td txt="20">Üst Düzey</td>
                    <td txt="21">4 Sene</td>
                    <td id="learning" txt="22">Evet</td>
                    <td id="using" txt="23">Evet</td>
                </tr>
                <tr>
                    <td id="name" txt="24">CSS</td>
                    <td id="level_bar" txt="25">++</td>
                    <td txt="26">Orta</td>
                    <td txt="27">5 Ay</td>
                    <td id="learning" txt="28">Evet</td>
                    <td id="using" txt="29">Evet</td>
                </tr>
                <tr>
                    <td id="name" txt="30">JS</td>
                    <td id="level_bar" txt="31">++</td>
                    <td txt="32">Orta</td>
                    <td txt="33">5 Ay</td>
                    <td id="learning" txt="34">Evet</td>
                    <td id="using" txt="35">Evet</td>
                </tr>
                <tr>
                    <td id="name" txt="30">Html</td>
                    <td id="level_bar" txt="31">+++</td>
                    <td txt="32">İyi</td>
                    <td txt="33">5 Ay</td>
                    <td id="learning" txt="34">Hayır</td>
                    <td id="using" txt="35">Evet</td>
                </tr>
                <tr>
                    <td id="name" txt="36">React Native</td>
                    <td id="level_bar" txt="37">+</td>
                    <td txt="38">Giriş</td>
                    <td txt="39">-</td>
                    <td id="learning" txt="40">Evet</td>
                    <td id="using" txt="41">Hayır</td>
                </tr>
                <tr>
                    <td id="name" txt="42">PHP</td>
                    <td id="level_bar" txt="43">+</td>
                    <td txt="44">Giriş</td>
                    <td txt="45">3 Ay</td>
                    <td id="learning" txt="46">Hayır</td>
                    <td id="using" txt="47">Hayır</td>
                </tr>
                <tr>
                    <td id="name" txt="48">C#</td>
                    <td id="level_bar" txt="49">++</td>
                    <td txt="50">Orta</td>
                    <td txt="51">-</td>
                    <td id="learning" txt="52">Hayır</td>
                    <td id="using" txt="53">Hayır</td>
                </tr>
                <tr>
                    <td id="name" txt="54">C/C++</td>
                    <td id="level_bar" txt="55">++</td>
                    <td txt="56">Orta</td>
                    <td txt="57">-</td>
                    <td id="learning" txt="58">Hayır</td>
                    <td id="using" txt="59">Hayır</td>
                </tr>
                <tr>
                    <td id="name" txt="60">Java</td>
                    <td id="level_bar" txt="61">+</td>
                    <td txt="62">Giriş</td>
                    <td txt="63">-</td>
                    <td id="learning" txt="64">Hayır</td>
                    <td id="using" txt="65">Hayır</td>
                </tr>
            </table>

        </div>
        <br><br>

    </div>
    <div class="col">

        <div txt="80" class="title">
            <div>Bilgisayar Becerileri</div>
        </div>
        <div class="bilgisayar-table">
            <table>
                <tr>
                    <th id="name" txt="12">Program</th>
                    <th txt="13" colspan="2">Seviye</th>
                    <th id="learning" txt="16">Öğrenim</th>
                    <th id="using" txt="17">Kullanım</th>
                </tr>
                <tr>
                    <td id="name" txt="60">MS Office</td>
                    <td id="level_bar" txt="61">++++</td>
                    <td txt="62">Üst Düzey</td>
                    <td id="learning" txt="64">Hayır</td>
                    <td id="using" txt="65">Evet</td>
                </tr>
                <tr>
                    <td id="name" txt="60">SolidWorks</td>
                    <td id="level_bar" txt="61">+</td>
                    <td txt="62">Giriş</td>
                    <td id="learning" txt="64">Hayır</td>
                    <td id="using" txt="65">Hayır</td>
                </tr>
                <tr>
                    <td id="name" txt="60">Altium</td>
                    <td id="level_bar" txt="61">+</td>
                    <td txt="62">Giriş</td>
                    <td id="learning" txt="64">Hayır</td>
                    <td id="using" txt="65">Hayır</td>
                </tr>
                <tr>
                    <td id="name" txt="60">Photoshop</td>
                    <td id="level_bar" txt="61">++</td>
                    <td txt="62">Orta</td>
                    <td id="learning" txt="64">Hayır</td>
                    <td id="using" txt="65">Evet</td>
                </tr>
                <tr>
                    <td id="name" txt="60">Linux/Ubuntu</td>
                    <td id="level_bar" txt="61">+</td>
                    <td txt="62">Giriş</td>
                    <td id="learning" txt="64">Evet</td>
                    <td id="using" txt="65">Evet</td>
                </tr>
            </table>
        </div>
    </div>

</div>
<br>
<br>
<script>
    about();
</script>