<div id="home-head">
    <div class="i-am" txt="1">I'm</div>
    <div class="mcx">
        <div id="yazilimciyim" txt="2">Programmer</div>
        <div id="fotografciyim" txt="3">Photographer</div>
        <div id="gelistiriciyim" txt="4">Developer</div>
        <div id="fullstackim" txt="5">FullStack</div>
    </div>
    <div class="mcx-switch">
    </div>
    <div class="mcx-arrow">
    </div>
    <div class="iam">
    </div>
    <div class="iam2">
    </div>
    <div class="iam3">
    </div>
</div>
<div class="cont">
    <div id="yazilimciyim" txt="6">
        <div class="before"></div>
        <div txt="61">Genellikle günümün tamamı kod yazarak geçer, bazen eskiden yazdığım kodları yeni algoritma ile
            sıfırdan yazar bazen de kişisel kullanım için mikro kodlar yazarım</div>
    </div>
    <div id="fotografciyim" txt="7">
        <div class="before"></div>
        <div txt="71">Eskiden etkinliklerde fotoğrafcılık yapardım</div>

    </div>
    <div id="gelistiriciyim" txt="8">
        <div class="before"></div>
        <div txt="81">Var olan sistemler üzerinde geliştirmeler yaptım, optimize edip yeni özellikler ekledim</div>

    </div>
    <div id="fullstackim" txt="9">
        <div class="before"></div>

        <div txt="91">Hem arkaplan çalışmalarında hem de ön plan çalışmaları yaptım.</div>

    </div>
</div>