<div class="portfolio">
    <div txt="1" class="title">
        <div>Portföy</div>
    </div>
    <br>
    <div class="detail">
        <div id="akilli_durak" class="col">
            <div class="images">
                <img src="./assets/img/example_map.png" alt="">
                <img src="./assets/img/example_durak.png" alt="">
                <img src="./assets/img/example_selected.png" alt="">
            </div>
            <div class="details">
                <div class="name">
                    Akıllı Durak
                </div>
            </div>
        </div>
        <div id="single_reader" class="col">
            <div class="images">
                <img src="./assets/img/single_reader1.png" alt="">
                <img src="./assets/img/single_reader2.png" alt="">
                <img src="./assets/img/single_reader3.png" alt="">
                <img src="./assets/img/single_reader4.png" alt="">
            </div>
            <div class="details">
                <div class="name">
                    Single Reader
                </div>
            </div>
        </div>

        <div id="coin_mate" class="col">
            <div class="images">
                <img src="./assets/img/coin_mate1.png" alt="">
                <img src="./assets/img/coin_mate2.png" alt="">
                <img src="./assets/img/coin_mate3.png" alt="">
                <img src="./assets/img/coin_mate4.png" alt="">
                <img src="./assets/img/coin_mate5.png" alt="">
            </div>
            <div class="details">
                <div class="name">
                    Coin Mate
                </div>
            </div>
        </div>
        <div id="drop_shipping" class="col">
            <div class="images">
                <img src="./assets/img/Auto-Mate1.png" alt="">
            </div>
            <div class="details">
                <div class="name">
                    Auto-Mate
                </div>
            </div>
        </div>
        <div id="ue" class="col">
            <div class="images">
                <img src="./assets/img/ue1.png" alt="">
                <img src="./assets/img/ue2.png" alt="">
            </div>
            <div class="details">
                <div class="name">
                    UE Booster
                </div>
            </div>
        </div>
        <div id="eski" class="col">
            <div class="images">
                <img src="./assets/img/eski1.jpeg" alt="">
                <img src="./assets/img/eski2.jpeg" alt="">
                <img src="./assets/img/eski3.jpeg" alt="">
            </div>
            <div class="details">
                <div class="name">
                    Sosyal Medya
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<script>
    portfolio();
</script>