<div class="resume">
    <div txt="1" class="title">
        <div>Deneyim</div>
    </div>
    <br>
    <div class="detail">
        <div id="is">
            <div class="col">
                <div class="name">
                    GMOWIN
                </div>
                <div class="wh">
                    GOP/Ankara
                </div>
                <div class="wh">
                    04.08.2021<br>08.11.2021
                </div>
            </div>
            <div class="brace">
            </div>
            <div class="col">
                <div class="kindof">
                    Bilgi İşlem Destek Uzmanı
                </div>
                <div class="details">
                    Onu bunu şunu şeyi yaptım o kadarcık
                </div>
            </div>
        </div>
        <div id="is">
            <div class="col">
                <div class="name">
                    HasYıldız Sav. San.
                </div>
                <div class="wh">
                    İvedik Osb/Ankara
                </div>
                <div class="wh">
                    12.06.2017<br>28.08.2017
                </div>
            </div>
            <div class="brace">
            </div>
            <div class="col">
                <div class="kindof">
                    CNC Operatörü
                </div>
                <div class="details">
                    Onu bunu şunu şeyi yaptım o kadarcık
                </div>
            </div>
        </div>

    </div>
    <br>
</div>

<div class="resume">
    <div txt="1" class="title">
        <div>Eğitim</div>
    </div>
    <br>
    <div class="detail">
        <div id="is">
            <div class="col">
                <div class="name">
                    Erciyes Üniversitesi
                </div>
                <div class="wh">
                    Talas/Kayseri
                </div>
                <div class="wh">
                    Eylül 2016<br>Son Sınıf
                </div>
            </div>
            <div class="brace">
            </div>
            <div class="col">
                <div class="kindof">
                    Elektrik-Elektronik Mühendisliği
                </div>
                <div class="details">
                    Onu bunu şunu şeyi yaptım o kadarcık
                </div>
            </div>
        </div>
        <div id="is">
            <div class="col">
                <div class="name">
                    Alfa Temel Lisesi
                </div>
                <div class="wh">
                    Batıkent/Ankara
                </div>
                <div class="wh">
                    Eylül 2015<br>Haziran 2016
                </div>
            </div>
            <div class="brace">
            </div>
            <div class="col">
                <div class="kindof">
                    Sayısal
                </div>
                <div class="details">
                    Onu bunu şunu şeyi yaptım o kadarcık
                </div>
            </div>
        </div>
        <div id="is">
            <div class="col">
                <div class="name">
                    Mobil Anadolu Lisesi
                </div>
                <div class="wh">
                    Batıkent/Ankara
                </div>
                <div class="wh">
                    Eylül 2012<br>Haziran 2015
                </div>
            </div>
            <div class="brace">
            </div>
            <div class="col">
                <div class="kindof">
                    Sayısal
                </div>
                <div class="details">
                    Onu bunu şunu şeyi yaptım o kadarcık
                </div>
            </div>
        </div>
    </div>
    <br>
</div>